* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", serif;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 1em;
  background: linear-gradient(to right, rgba(0,0,0,1), rgba(255,255,255,1));
}

.logo, .menu a, .login {
  background: linear-gradient(to left, black, white);
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

.login {
  border: 2px solid rgba(255,255,255,0.5);
  padding: 0.5em 1em;
  border-radius: 25px;
  transition: 0.3s;
  white-space: nowrap;
}

.login:hover {
  background-color: rgba(255,255,255,0.2);
}

.peng {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.pengl {
  padding: 1.5em;
  width: 100%;
  border: solid 2px black;
}

.pengl p, .kotakk {
  margin-bottom: 1em;
}

.pengl h1 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

.kotakk {
  display: inline-block;
  border: solid 3px black;
  margin: 0 0.5em;
  padding: 0.4em;
  border-radius: 25px;
  text-align: center;
  font-size: 0.8em;
}

.kotakb {
  display: flex;
  border: solid 3px black;
  margin-top: 1em;
  padding: 0.4em;
  border-radius: 25px;
  text-align: center;
  justify-content: center;
}

.pengr {
  width: 100%;
  padding: 1em;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  border: solid 3px black;
}

.cardb {
  width: 7em;
  height: 9em;
  border: solid 3px black;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 3em;
}

.pengr h4 {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-size: 0.9em;
}

.sponsor {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: space-around;
  border: solid 2px black;
  padding: 0.5em;
  background: linear-gradient(to top, white, black);
  margin-bottom: 1em;
}

.sponsor p {
  padding: 0.3em;
  background: grey;
  color: white;
  border-radius: 30%;
  font-size: 0.7em;
  white-space: nowrap;
}

.carousel1 {
  width: 100%;
  position: relative;
  border: solid 3px black;
  height: auto;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel1 h1 {
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 1em;
}

.car1 {
  flex: 0 0 250px; /* lebar tiap card */
  height: 300px;
  border: solid 2px black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
  background: white;
  transition: transform 0.5s ease;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  display: block;
}
.car1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 2px black;
  text-align: center;
}


@media (max-width: 767px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 1em 0;
  }

  .menu a {
    padding: 0.7em;
    display: block;
    color: white;
  }

  .menu.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 0 2em;
  }

  .menu {
    gap: 1.5em;
  }

  .peng {
    flex-direction: row;
  }

  .pengl, .pengr {
    width: 100vw;
    padding: 2em;
  }

  .sponsor {
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 4px;
  }

  .sponsor p {
    font-size: 0.8em;
  }
