@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Montserrat",Sans-Serif;
}
:root {
   --color-1 : #34D399;
   --color-2 : #34D399;
   --color-3 : #E0E7ED;
   --color-4 : #9CA3AF;
   --color-5 : #1F2E3D;
   --color-6 : #121A21;
   --color-7 : #2A3A4A;
   --color-8 : #FBBF24;
   
}
body, html {
   height: 100%;
   width: 100%;
   overflow: auto;
}
body::before {
   content: "";
   background-image: url('/Bahan/pint04.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   position: center;
   opacity: 0.3;
   z-index: 10;
}
.topbar {
   height: auto;
   width: 100%;
   justify-content: space-between;
   background: var(--color-1);
   padding: 7px;
   display: flex;
}
.topbar h4 {
   height: clamp(7%, 8vh, 9%);
   align-items: center;
   display: flex;
   gap: 10px;
}
.mainlayout {
   display: flex;
   height: 100%;
   width: 100%;
}
.sidebar {
   display: flex;
   flex-direction: column;
   border: solid 3px black;
   height: 100%;
   width: clamp(180px, 20vw, 800px);
   background-color: var(--color-5);
   padding: 15px 5px 10px 15px;
   list-style: none;
}
.logo {
   height: 60px;
   width: 60px;
   border-radius: 50%;
}
.mainmenu li, .othermenu li {
   list-style: none;
   padding: 8px 10px;
   border: solid 1px black;
   border-radius: 7px;
   margin: 3px;
   font-size: clamp(15px, 1vw, 20px);
}
#gap {
   margin-right: 8px;
}
.mainmenu {
   gap: 5px;
   margin: 0 0 4em 0;
}
.mainbar {
   flex-grow: 1;
   padding: 10px;
   border: solid 3px black;
   display: grid;
   grid-template-columns: 23.75% 23.75% 23.75% 23.75%;
   grid-template-rows: 0.5fr 1fr 2fr 2fr;
   gap: 15px;
}
#grid {
   border: solid 1px black;
   border-radius: 15px;
   backdrop-filter: blur(4%);
   box-shadow: 3px 3px 8px black;
   display: flex;
   flex-direction: column;
}
.ha1 {
   grid-column: 1/5;
   display: flex;
   align-items: center;
   padding: 0 0 0 3em;
   font-size: clamp(10px, 2vw, 25px);
}
.grid1 {
   
}
.grid5 {
   grid-column: 1/3;
   grid-row: 3/4;
}
.grid6 {
   grid-column: 3/5;
   grid-row: 3/4;
}
.grid7 {
   grid-column: 1/3;
   grid-row: 4/5;
}
.grid8 {
   grid-column: 3/5;
   grid-row: 4/5;
}
